<!-- mermaid-js loader -->
<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
<script type="text/javascript">
  $(function() {
    const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    const initTheme = prefersDark ? 'dark' : 'default';

    let mermaidConfig = {
      theme: initTheme,
      logLevel: 3,
      flowchart: { curve: 'linear' },
      gantt: { axisFormat: '%m/%d/%Y' },
      sequence: { actorMargin: 50 },
      securityLevel: 'loose'
    };
    
    mermaid.initialize(mermaidConfig);

    // 监听主题切换
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
      const newTheme = event.matches ? 'dark' : 'default';
      mermaid.initialize({ ...mermaidConfig, theme: newTheme });
    });
  });
</script>
