---
layout: page
title: 友情链接
refactor: true
---

{% include lang.html %}

<style>
.card {
  display: flex;
  align-items: left;
  margin-bottom: 15px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1); /* 半透明背景颜色 */
  border-radius: 8px;
  border-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 66px; /* 限制卡片高度 */
  overflow: hidden; /* 确保内容不溢出 */
}

.card-avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 15px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  overflow: hidden; /* 确保内容不溢出 */
  flex-grow: 1; /* 使其填满剩余空间 */
  color: red;  

}

.card-title {
  margin: 0;
  font-size: 1.25em;
  color: #ffffff;  
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  margin: 5px 0 0;
  color: #cccccc;  
  font-size: 0.9em;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

<div class="row">
  <!-- Left Column -->
  <div class="col-md-6">
    {% for link in site.links_left %}
      <div class="card">
        <img src="{{ link.avatar }}" class="card-avatar" alt="{{ link.title }} Avatar">
        <div class="card-body">
          <h5 class="card-title">{{ link.title }}</h5>
          <p class="card-text">{{ link.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Right Column -->
  <div class="col-md-6">
    {% for link in site.links_right %}
      <div class="card">
        <img src="{{ link.avatar }}" class="card-avatar" alt="{{ link.title }} Avatar">
        <div class="card-body">
          <h5 class="card-title">{{ link.title }}</h5>
          <p class="card-text">{{ link.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>